.href{
    display: flex;
    justify-content: center;
    text-align: center;
}
.href a{
    text-decoration: none;
    padding: 15px;
    border-radius: 12px;
    margin: 40px;
    font-size: 14px;
    color: black;
    
}
form{
    display: flex;
    justify-content: center;
}
input{
    width: 190px;
    margin: 0 10px;
    outline: none;
    border-radius: 6px;
}
